.DropDownMenu
{
    position: relative;
}

.dropDownMenuContainer
{
    position: absolute;
    top: 22px;
    right: 0px;
    
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 5px;
    background: rgba(255,255,255,1);
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}