@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

:root
{
  /* Base background colors */
  --background-header:      rgba(218,49,44,1);
  --background-menu:        rgba(0,136,206,1);
  --background-body:        rgba(67,67,67,1);

  --global-margin-left:   7%;
  --global-margin-right:  7%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
  background: var(--background-body);
}

