.Footer {
    flex-shrink: 0;
    
    width: 100%;
    height: 250px;
    
    border-top: 3px solid rgba(255,255,255,0.4);
    
    background: url("/static/img/rucksack-magazine-359282-crop-smaller.jpg") top left no-repeat transparent;
}

.footerContainer {
    height: 250px;
    
    margin-left: var(--global-margin-left);
    margin-right: var(--global-margin-right);
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.footerGroup {
    margin: 25px;
    color: var(--night-sky);
}

.footerItem {
    font-size: 0.7em;
}