.TestLayout {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.layoutTitleContainer {
    width: 100%;
    height: auto;
    
    font-size: 1em;
    
    background: var(--mid-green);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.layoutTitle {
    padding: 8px;
}

.layoutContent {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.goalsMenu {
    width: 350px;
    height: 100%;
    
    background: rgba(0,0,0,.3);
}

.goalItem {
    width: 100%;
    cursor: pointer;
    padding: 8px;
    background: rgba(255,255,255,0.3);
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.goalItem.selected {
    background: rgba(255,255,255,0.1);
}

.goalItemName {
    height: auto;
    width: 100%;
}

.goalItemCompletion {
    height: 3px;
    width: 100%;
    background: var(--light-green);
}

.tasksMenu {
    height: 100%;
    overflow: hidden;
    
    background: rgba(0,0,0,.1);
    
    transition: width 0.3s ease-out;
}

.tasksMenu.closed {
    width: 15px;
}

.tasksMenu.open {
    width: 450px;
}

.taskItem {
    width: 100%;
    cursor: pointer;
    padding: 8px;
    background: rgba(255,255,255,0.3);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.taskItem.selected {
    background: rgba(255,255,255,0.1);
}

.taskItemName {
    
}

.taskItemIcon {
    
}

.menuInput {
    width: 100%;
    
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.notepad {
    width: 100%;
    height: 100%;
}