.Header {
    width: 100%;
    height: 45px;
    
    background: var(--dark-green);
    
    border-bottom: 3px solid rgba(255,255,255,0.1);
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    height: 100%;

    margin-left: var(--global-margin-left);
    margin-right: var(--global-margin-right);
}

.headerContainer .title a {
    color: var(--light-amber);
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 400;
    text-shadow: 1px 2px 1px rgba(0,0,0,.1);
}

.headerContainer .loggedOutMessage {
    font-size: 0.9em;
    font-weight: 400;
}

/* Profile Area (Icons, Menus) */
.headerContainer .profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer .profileIconGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin-left: 20px;
    padding: 3px;
}

.profileIconGroup .bell, .profileIconGroup .gear {
    cursor: pointer;
}

.profileIconGroup .flame {
    color: #f70;
}

.headerContainer .profilePoints {
    padding: 5px;
    font-size: 1em;
    font-weight: 700;
    
    background: linear-gradient(0deg, #f00, #ff0);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}