/* Settings Menu */
.settingsMenu {
    width: 350px;
}

.settingsMenuItemGroup {
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.settingsMenuItemGroup:last-child {
    border-bottom: none;
}

.settingsMenuItem {
    padding: 10px;
}