/* Settings Menu */
.settingsMenu {
    width: 350px;
    background: rgba(240,240,242, 1);
}

.settingsMenuItemGroup {
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.settingsMenuItemGroup:last-child {
    border-bottom: none;
}

.settingsMenuItem {
    padding: 10px;
    cursor: pointer;
}

.settingsMenuItem:hover {
    background: linear-gradient(0deg, rgba(248,248,250, 1), rgba(255,255,255, 1));
}